{
  "Id": "",
  "GameId": "",
  "EntryKey": "config://sectors",
  "ContentType": "x-mod/config",
  "Content": "",
  "Usage": 0,
  "UsePublish": 1,
  "UseService": 0,
  "CoreVersion": "26.5.0.0",
  "StudioVersion": "0.1.0.0",
  "DynamicLoading": 0,
  "ContentProto": {
    "Use": "Json",
    "Json": {
      "Sectors": [
        {
          "id": "sector01",
          "name": "sector01",
          "maxUserNo": 16,
          "entries": [
            "map://map01",
            "map://hunting01",
            "map://hunting02",
            "map://hunting03",
            "map://000010000",
            "map://000040000",
            "map://000050000",
            "map://001000000",
            "map://001000001",
            "map://001000002",
            "map://001000003",
            "map://001010000",
            "map://001010100",
            "map://001010200",
            "map://001010300",
            "map://001010400",
            "map://001020000",
            "map://002000000",
            "map://002000100",
            "map://105000000",
            "map://105000010",
            "map://105000011",
            "map://105000012",
            "map://105010000",
            "map://105010100",
            "map://105010200",
            "map://105010300",
            "map://105010301",
            "map://105020000",
            "map://105020100",
            "map://105020200",
            "map://105020300",
            "map://105020400",
            "map://105020500",
            "map://105030000",
            "map://105030200",
            "map://105030300",
            "map://105030400",
            "map://105030500",
            "map://105100000",
            "map://105100100",
            "map://105100101",
            "map://105100300",
            "map://105100301",
            "map://100000000",
            "map://100010000",
            "map://100010001",
            "map://100010100",
            "map://100020000",
            "map://100020100",
            "map://100020200",
            "map://100020300",
            "map://100020400",
            "map://100020500",
            "map://100040000",
            "map://100040100",
            "map://100040200",
            "map://100040300",
            "map://100040400",
            "map://100040500",
            "map://101000000",
            "map://101010000",
            "map://101010100",
            "map://101020100",
            "map://101020200",
            "map://101020300",
            "map://101030000",
            "map://101030100",
            "map://101030300",
            "map://101030400",
            "map://101030500",
            "map://102000000",
            "map://102010000",
            "map://102020000",
            "map://102020100",
            "map://102020200",
            "map://102020300",
            "map://102020400",
            "map://102020500",
            "map://102030000",
            "map://102030100",
            "map://102030200",
            "map://103000000",
            "map://103010000",
            "map://103010100",
            "map://103030000",
            "map://103030100",
            "map://103030200",
            "map://103030300",
            "map://103030400",
            "map://104000000",
            "map://104010000",
            "map://104010100",
            "map://104010200",
            "map://104020000"
          ]
        }
      ],
      "AllowOverMaxEntryCountPerSector": false,
      "config_id": "config://sectors"
    }
  }
}